<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>
    <link rel="stylesheet" href="./css/index.css">
</head>
<body>
    <!-- header starts -->
    <section class="header-container">
        <!-- main logo -->
        <img class="main-logo" src="./images/logo.png">

        <!-- search -->
        <div class="search-container">
            <input class="input" type="text" placeholder="Search">
            <img class="search-icon" alt="search icon" src="./images/search-icon.png">
        </div>

        <!-- icons -->
        <ul class="icon-container">
            <li class="icon">
                <img class="icon-img" src="./images/profile-icon.png">
            </li>
            <li class="icon">
                <img class="icon-img" src="./images/heart-icon.png">
                <p class="icon-num">0</p>
            </li>
            <li class="icon">
                <img class="icon-img" src="./images/cart-icon.png">
                <p class="icon-num">0</p>
            </li>
            <li class="icon">
                <img class="icon-img" src="./images/bell-icon.png">
                <p class="icon-num">0</p>
            </li>
        </ul>
    </section>
    <!-- header ends -->

    <!-- header for mobile starts -->
    <section class="mobile-header-container">
        <div class="mobile-header">
            <img class="main-logo-m" src="./images/logo.png">
            <div class="flex-1"></div>
            <ul class="icon-container-m">
                <li class="icon-m">
                    <img class="icon-img-m" src="./images/profile-icon.png">
                </li>
                <li class="icon">
                    <img class="icon-img-m" src="./images/heart-icon.png">
                    <p class="icon-num-m">0</p>
                </li>
                <li class="icon">
                    <img class="icon-img-m" src="./images/cart-icon.png">
                    <p class="icon-num-m">0</p>
                </li>
                <li class="icon">
                    <img class="icon-img-m" src="./images/bell-icon.png">
                    <p class="icon-num-m">0</p>
                </li>
                <li class="icon" onclick="openSideMenuFn()">
                    <img class="icon-img-m menu-icon" src="./images/mobile-menu.png">
                </li>
            </ul>
        </div>
        <div class="search-container-m">
            <input class="input" type="text" placeholder="Search">
            <img class="search-icon-m" alt="search icon" src="./images/search-icon.png">
        </div>
    </section>
    <!-- header for mobile ends -->

    <!-- side menu starts -->
    <section id="sideMenu" class="side-menu-container d-none">
        <div class="menu-header">
            <div class="flex-1"></div>
            <img class="cross-icon" onclick="closeSideMenuFn()" alt="search icon" src="./images/cross-icon.png">
        </div>
        <ul class="navbar-list-m">
            <li class="nav-btn-m">Home</li>
            <li class="nav-btn-m">
                <select class="nav-btn-select-m">
                    <option value="null">Shop All</option>
                    <option value="">option 1</option>
                    <option value="">option 2</option>
                    <option value="">option 3</option>
                </select>
            </li>
            <li class="nav-btn-m">Bestsellers</li>
            <li class="nav-btn-m">Earrings</li>
            <li class="nav-btn-m">Pendents</li>
            <li class="nav-btn-m">Rings</li>
            <li class="nav-btn-m">Home & Living</li>
            <li class="nav-btn-m">Clothing</li>
            <li class="nav-btn-m">Jewellery</li>
            <li class="nav-btn-m">Pickle</li>
            <li class="nav-btn-m">Beauty Products</li>
            <li class="nav-btn-m">Art & Craft</li>
            <li class="nav-btn-m">Craft Supplies</li>
        </ul>
    </section>
    <!-- side menu ends -->

    <!-- navbar starts -->
    <section class="navbar-container">
        <ul class="navbar-list">
            <li class="nav-btn active-nav-btn">Home</li>
            <li class="nav-btn">
                <select class="nav-btn-select">
                    <option value="null">Shop All</option>
                    <option value="">option 1</option>
                    <option value="">option 2</option>
                    <option value="">option 3</option>
                </select>
            </li>
            <li class="nav-btn">Bestsellers</li>
            <li class="nav-btn">Earrings</li>
            <li class="nav-btn">Pendents</li>
            <li class="nav-btn">Rings</li>
            <li class="nav-btn">Home & Living</li>
            <li class="nav-btn">Clothing</li>
            <li class="nav-btn">Jewellery</li>
            <li class="nav-btn">Pickle</li>
            <li class="nav-btn">Beauty Products</li>
            <li class="nav-btn">Art & Craft</li>
            <li class="nav-btn">Craft Supplies</li>
        </ul>
    </section>
    <!-- navbar ends -->

    <section class="body"></section>

    <!-- footer starts -->
    <section class="footer-container">
        <ul class="footer-list footer-list-1">
            <li><img class="main-logo-footer" src="./images/logo.png"></li>
            <li class="op-6">We are a team of designers and developers that create high quality wordpress, shopify, Opencart</li>
            <li class="footer-heading">Follow Us</li>
            <li class="media-icon-container">
                <img class="media-icon" src="./images/Facebook_icon.png">
                <img class="media-icon" src="./images/twitter-icon.png">
                <img class="media-icon" src="./images/Instagram-Icon.png">
                <img class="media-icon" src="./images/youtube-icon.png">
            </li>
        </ul>

        <ul class="footer-list footer-list-2">
            <li class="footer-heading">Information</li>
            <li class="op-6">About Us</li>
            <li class="op-6">Privacy Policy</li>
            <li class="op-6">Contact Us</li>
            <li class="op-6">Shop</li>
            <li class="op-6">Catagories</li>
            <li class="op-6">Terms & Conditions</li>
            <li class="op-6">Delivery Information</li>
        </ul>

        <ul class="footer-list footer-list-3">
            <li class="footer-heading"></li>
            <li class="op-6">Orders</li>
            <li class="op-6">Carts</li>
            <li class="op-6">Wishlist</li>
            <li class="op-6">Career</li>
            <li class="op-6">Compare</li>
            <li class="op-6">FAQ's</li>
            <li class="op-6">My Accounts</li>
        </ul>

        <ul class="footer-list footer-list-4">
            <li class="footer-heading">Contact Us</li>
            <li class="op-6">Lorem ipsum</li>
            <li class="op-6">Lorem ipsum</li>
            <li class="op-6">(+91) 9521455287</li>
            <li class="op-6"></li>
            <li class="op-6"></li>
        </ul>
    </section>
    <!-- footer ends -->

    <!-- move this to javascript -->
    <script>
        // to toggle side menu
        function openSideMenuFn(){
            console.log('open menu');
            document.getElementById('sideMenu').classList.remove('d-none');
        }
        function closeSideMenuFn(){
            console.log('close menu');
            document.getElementById('sideMenu').classList.add('d-none');
        }
    </script>
</body>
</html>