/* Address Type Styling */
.address-type{
    padding: 2px 10px;
    font-size: 12px;
    border-radius: 4px;
    color: var(--color-grey);
    border: 1.5px solid var(--color-grey);
    margin-left: 8px;
    background-color: white;
}
.home-address{
    color: var(--color-success);
    border: 1.5px solid var(--color-success);
}
.office-address{
    color: var(--color-fail);
    border: 1.5px solid var(--color-fail);
}

/* Address Container Style Overrides */
.cart-left-two-left .address-container{
    padding: 16px;
    border-left: 4px solid var(--color-light-grey);
}
.selected-address{
    /* background-color: var(--color-orange-light); */
    border-left: 6px solid var(--color-orange) !important;
}
.address-name{
    margin-bottom: 8px;
}
.address-text{
    margin-bottom: 8px;
}
.cretzo.btn.address-action-btn {
    padding: 0 20px;
    font-size: var(--font-size-text-s);
}
.selected-address .address-name, .selected-address .address-text {
    color: black !important;
    opacity: 1 !important;
}

/* 'Add New Address' Styling */
.add-address-container:hover {
    background-color: var(--color-light-grey);
}

.error-box{
    background-color: var(--color-light-grey);
    opacity: 0.6;
}
.error-text{
    color: red;
}

/* Address Error Styling */
.address-error-msg{
    color: red;
    display: none;
    font-weight: bold;
}

/* Overriding Styles for Edit Address Modal & Add Address Modal */
.city .select2-container, .edit_city .select2-container{
    /* margin-top: 4px; */
    width: 100% !important;
}
.control-label{
    margin-bottom: 0;
}
.form-control{
    padding: 0.2rem 0.6rem;
}
.form-check-input{
    height: 0.9rem;
    width: 0.9rem;
    margin-top: 4px !important;
    margin-left: -1rem !important;
}
.modal-dialog .required:after {
    content:" *";
    color: red;
}

select.form-control:not([size]):not([multiple]){
    height: initial;
    line-height: 1.7 !important;
    min-height: initial !important;
}
.select2-container .select2-selection--multiple, .select2-container .select2-selection--single{
    height: initial !important;
    /* line-height: 1.7 !important; */
    min-height: initial !important;
}
.select2-container--bootstrap4 .select2-selection--single .select2-selection__rendered{
    height: initial !important;
    line-height: 1.7 !important;
    min-height: initial !important;
    padding: .2rem 0.6rem;
}
.select2-container--bootstrap4 .select2-selection--single .select2-selection__placeholder{
    height: initial !important;
    line-height: 1.7 !important;
    min-height: initial !important;
}