.estimate-list{
    list-style: none;
}
.estimate-list-item{
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.estimate-list-item:last-child{
    margin-bottom: 0px;
}
.estimate-list-item-img{
    aspect-ratio: 1/1;
    height: 60px;
    width: 60px;
    border-radius: 4px;
}
.address .cart-left-two{
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid var(--color-light-grey);
    border-radius: 4px;
    display: block;
}
.cart-left-two-left{
    margin: 10px 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.02);
}
.cart-left-two-left-upper{
    margin-bottom: 40px;
}
.cart-left-two-left .address-container{
    padding: 10px;
    display: block;
    border-left: 4px solid var(--color-light-grey);
    border-right: none;
    border-bottom: none;
    cursor: pointer;
}
.cart-left-two-left .address-container > div{
    display: flex;
    gap: 10px;
}
.selected-address{
    border-left: 4px solid var(--color-orange) !important;
}
.cart-left-two-left .address-container:last-child{
    border-bottom: none;
}
.address-name{
    margin-bottom: 20px;
}
.address-text{
    margin-bottom: 20px;
    opacity: 0.7;
}
.home-address{
    padding: 2px 10px;
    font-size: 12px;
    color: var(--color-success);
    border: 1.5px solid var(--color-success);
    border-radius: 4px;
}
.work-address{
    padding: 2px 10px;
    font-size: 12px;
    color: var(--color-fail);
    border: 1.5px solid var(--color-fail);
    border-radius: 4px;
}

.cretzo.btn.add-address-btn{
    position: absolute;
    top: 20px;
    right: 20px;
    font-weight: bold;
    border-width: 2px;
}

@media screen and (max-width: 600px) {
    .cretzo.btn.add-address-btn{
        padding: 8px 10px;
        border-radius: 4px;
        top: 10px;
        right: 10px;
        font-weight: bold;
        border-width: 2px;
    }
}
@media screen and (max-width: 400px) {
    .cart-left-two-left .address-container > div{
        flex-direction: column;
    }
}

.cart-right-three .go-to-payment-btn{
    border-radius: 4px;
    box-shadow: none;
    width: 100%;
}