/* Address Type Styling */
.address-type{
    padding: 2px 10px;
    font-size: 12px;
    border-radius: 4px;
    color: var(--color-grey);
    border: 1.5px solid var(--color-grey);
    margin-left: 8px;
    background-color: white;
}
.home-address{
    color: var(--color-success);
    border: 1.5px solid var(--color-success);
}
.office-address{
    color: var(--color-fail);
    border: 1.5px solid var(--color-fail);
}

/* Address Container Style Overrides */
.cart-left-two-left .address-container{
    padding: 16px;
    border-left: 4px solid var(--color-light-grey);
}
.selected-address{
    /* background-color: var(--color-orange-light); */
    /* background-color: rgb(240, 240, 240); */
    border-left: 6px solid var(--color-orange) !important;
}
.address-name{
    margin-bottom: 8px;
}
.address-text{
    margin-bottom: 8px;
}
.cretzo.btn.address-action-btn {
    padding: 0 20px;
    font-size: var(--font-size-text-s);
}
.selected-address .address-name, .selected-address .address-text {
    color: black !important;
    opacity: 1 !important;
}

/* 'Add New Address' Styling */
.add-address-container:hover {
    background-color: var(--color-light-grey);
}

.error-box{
    background-color: var(--color-light-grey);
    opacity: 0.6;
}
.error-text{
    color: red;
}

/* Address Error Styling */
.address-error-msg{
    color: red;
    display: none;
    font-weight: bold;
}