.wishlist .rating-container{
    padding: 5px 7px;
}

.bag-btn{
    padding: 3px 8px;
    transition: 0.4s;
}
.bag-btn a{
    transition: none;
    font-weight: bold;
}
.bag-btn:hover{
    color: white;
    background: var(--color-orange);
}
.bag-btn:active{
    color: white;
    background: var(--color-orange-dark);
    transition: 0.1s;
}

.cross-container{
    position: absolute;
    top: 0;
    right: 12px;

    min-height: 34px;
    min-width: 24px;

    background: rgba(255, 255, 255, 0.6);
    /* border: 1px solid black; */
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.2);


    text-align: center;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 700;
    font-size: 10px;

    /* color: red; */
    transition: 0.2s;
}
.cross-container:hover{
    /* min-height: 44px; */

    /* background: var(--color-orange); */


    /* color: white; */

    /* background: var(--transparent); */
    background: rgba(255, 255, 255, 0.7);
    color: black;
    font-weight: 900;
}

.wishlist-card{
    cursor: default;
    box-shadow: rgba(0, 0, 0, 0.06) 2px 2px 4px;
}
.wishlist-card:hover{
    border: 1px solid lightgrey;
    box-shadow: rgba(0, 0, 0, 0.15) 2px 2px 4px;
}
.wishlist-card .bg-overlay{
    width: 100%;
    height: 100%;
    background-color: black;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}