@import url('https://fonts.googleapis.com/css2?family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /* font-family: "K2D", sans-serif; */
    width: 100vw;

    /* for sticky header to work since some template style was overriding it */
    min-height: 100vh !important;
    height: auto !important;
}

/* global class starts */
.op-6{
    opacity: 0.6;
}
.ta-c{
    text-align: center;
}
.flex-1{
    flex: 1;
}
.d-none{
    display: none !important;
}
/* global class ends */

/* header starts */
.header-container{
    display: flex;
    justify-content: center;
    gap: 20px;
    max-width: 100vw;
    
    /* margin: 40px 4em; */
    /* margin: 40px 4em 20px 4em; */

    /* padding: 0 20px; */
    /* padding: 0.5rem 0px 10px 0px; */
    padding: 1em 3em 10px 3em;

    position: sticky;
    z-index: 1000;
    top: 0;
    background-color: white;

    transition: top 0.2s ease-in-out;
}
.main-logo{
    height: 2rem;
    width: auto;
    position: relative;
    /* bottom: 10px; */
    bottom: 0.25rem;
    cursor: pointer;
    transition: 0.4s;
}
.main-logo:hover{
    transform: scale(1.1);
}
.search-container{
    padding-left: 0.5rem;
    position: relative;
    display: flex;
    align-items: center;
    flex: 1;
}
.search-container .search_field{
    height: 1.75rem;
    padding: 10px 20px;
    font-size: 18px;
    background-color: var(--color-primary-bg);
    border-radius: 40px;
    /* width: 40vw; */
    width: 100%;
    background-color: #f7f7f7;
    border: 1px solid rgba(0, 0, 0, 0.4);
    outline-color: var(--color-orange);

    /* border: none;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.4); */
}
.search-container .search_field:focus{
    outline: none;
    border-color: var(--color-orange);
    /* border-width: 2px; */

    /* border: none;
    box-shadow: 0 0 0 2px var(--color-orange); */
}

.search-icon{
    height: 20px;
    width: auto;
    position: absolute;
    right: 15px;
    cursor: pointer;
    transition: 0.2s;
}
.search-icon:hover{
    transform: scale(1.08);
}

.icon-container{
    display: flex;
    list-style: none;
    align-items: center;
    gap: 20px;
    cursor: pointer;
    padding: 0rem;
    margin-left: 0.5rem;
    margin-bottom: 0.25rem;
}
.icon{
    position: relative;
    transition: 0.4s;
}
/* .icon:hover{
    transform: scale(1.3);
} */
.icon-img{
    /* height: 25px; */
    height: 26px;
    width: auto;
}
/* .icon-num{
    position: absolute;
    top: -6px;
    right: -6px;
    padding: 2px 5px;
    background-color: var(--color-orange);
    color: var(--color-primary);
    border-radius: 50%;
    font-size: 12px;
} */
.icon-num{
    position: absolute;
    top: -6px;
    right: -6px;
    height: 1.6em;
    width: 1.6em;
    text-align: center;
    white-space: nowrap;
    background-color: var(--color-orange);
    color: var(--color-primary);
    border-radius: 50%;
    font-size: 12px;
}
.profile-menu{
    width: 250px;
    /* padding: 10px; */
    position: absolute;
    /* top: 30px; */
    top: 100%;
    left: -110px;
    background-color: white;
    border: 1px solid lightgray;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 100;
    display: none;
}
.profile-icon:hover .profile-menu{
    display: block;
}
.profile-item{
    padding: 6px;
    /* padding: 5px; */
    /* border-bottom: 1px solid lightgray; */
}
.profile-item.text:hover{
    font-weight: bold;
}
.profile-item:last-child{
    border-bottom: none;
}

/* .profile-menu > li{
    padding: 6px;
}
.profile-menu > li > a{
    transition: none;
} */
.profile-menu a{
    transition: none;
}

.profile-menu-loggedin{
    display: none;
    min-width: 250px;
    
    background-color: white;
    border: 1px solid lightgray;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 100;
    border-radius: 0rem;

    /* Marking important since bootstrap dropdown overrides as inline styling  */
    position: absolute !important;
    top: 100% !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
}
.profile-menu-loggedin.show{
    /* No need to style it here again since defined as !important in lesser specificity (without .show class above) */
    /* position: absolute !important;
    top: 100% !important;
    left: -50% !important;
    transform: translateX(-50%) !important; */

    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.4);
}
.profile-menu-loggedin .dropdown-item{
    /* padding: 0.15rem 0.8rem; */
    padding: initial;
    font-weight: initial;
    font-size: var(--font-size-text-m);
    transition: none;
}
.profile-menu-loggedin .dropdown-item:hover{
    font-weight: bold;
    background-color: initial !important;
}
/* header ends */

/* header mobile starts */
.mobile-header-container{
    max-width: 100vw;
    margin: 0;
    padding: 20px;
    display: none;
}
.mobile-header{
    display: flex;
    align-items: center;
}
.main-logo-m{
    height: 50px;
    width: auto;
    position: relative;
    bottom: 10px;
    cursor: pointer;
    transition: 0.4s;
}
.icon-container-m{
    display: flex;
    list-style: none;
    align-items: center;
    gap: 20px;
    cursor: pointer;
}
.icon-m{
    position: relative;
    transition: 0.4s;
}
.icon-img-m{
    height: 35px;
    width: auto;
}
.menu-icon{
    height: 40px;
    width: auto;
}
/* .icon-num-m{
    position: absolute;
    top: -6px;
    right: -6px;
    padding: 2px 5px;
    background-color: var(--color-orange);
    color: var(--color-primary);
    border-radius: 50%;
    font-size: 12px;
} */
.icon-num-m{
    position: absolute;
    top: -6px;
    right: -6px;
    height: 1.6em;
    width: 1.6em;
    text-align: center;
    white-space: nowrap;
    background-color: var(--color-orange);
    color: var(--color-primary);
    border-radius: 50%;
    font-size: 12px;
}
.search-container-m{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
.search-container-m .search_field{
    /* height: 40px; */
    height: 1.65rem;
    padding: 10px 20px;
    font-size: 18px;
    background-color: var(--color-primary-bg);
    border-radius: 40px;
    width: 95vw;
    background-color: #F5F5F5;
}
.search-icon-m{
    height: 20px;
    width: auto;
    position: absolute;
    right: 30px;
    cursor: pointer;
}
/* header mobile ends */

/* side menu starts */
.side-menu-container{
    width: 100%;
    min-height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient(var(--color-secondary), var(--color-primary));
    z-index: 999;
}
.menu-header{
    display: flex;
    padding: 10px;
}
.cross-icon{
    height: 40px;
    width: auto;
}
.navbar-list-m{
    list-style: none;
    padding: 0 60px;
    text-align: center;
}
.nav-btn-m{
    font-size: 34px;
    font-weight: bold;
    padding: 5px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.nav-btn-select-m{
    border: none;
    background: none;
    font-weight: bold;
    font-size: 30px;
    padding: 5px 0;
}
/* side menu ends */

/* footer starts */
.footer-container{
    /* min-height: 300px; */
    background-color: var(--color-secondary);
    width: 100%;
    padding: 1em;
    padding-top: 1.25em;
    padding-bottom: 0em;
    display: flex;
    gap: 80px;
    justify-content: center;
    box-shadow: -1px -1px 2px rgba(0, 0, 0, 0.04);

    /* Makes the footer expand/extend till bottom of page, in case the page content height is less */
    flex: auto;
}
.footer-list{
    list-style: none;
    font-size: var(--font-size-text-s);
    
    font-weight: bold;
}
.footer-list-1{
    /* width: 360px; */
    width: 400px;
}
.footer-list-2, .footer-list-3, .footer-list-4{
    /* width: 200px; */
    width: 400px;
}

/* .footer-list li{
    margin-bottom: 10px;
    margin-bottom: 0.2em;
    cursor: pointer;
} */
.footer-list .footer-list-item{
    /* margin-bottom: 10px; */
    margin-bottom: 0.2em;
    cursor: pointer;

    opacity: 0.85;
    font-size: 0.95em;
}
.footer-list .footer-heading{
    font-weight: bold;
    /* margin-bottom: 30px; */
    margin-bottom: 0.75em;
    height: 20px;

    font-size: 1.05em;

    color: black;
}

.media-icon-container{
    display: flex;
    /* gap: 10px; */
}
.media-icon{
    height: 30px;
    width: auto;
    cursor: pointer;
    transition: none;
    transform: none !important;
}
.media-icon:hover{
    transition: none;
    transform: none !important;
    /* transform: scale(1.2); */
}
.main-logo-footer{
    height: 60px;
    width: auto;
    cursor: pointer;
    margin-bottom: 16px;
}
.handicraft-logo{
    height: 70px;
    width: auto;
    margin: 24px 0px;
}

.footer-list-item a{
    text-decoration: none !important;
    transition: 0.1s;
}
.footer-list-item a:hover{
    color: black !important;
}
.footer-list-item a::before{
    content: "";
    display: none;
}
/* footer ends */

/* payment methods starts */
.payment-footer {
    text-align: center;
    padding: 20px;
    /* background: #f8f9fa; */
}
  
.payment-footer p {
    margin-bottom: 8px;
    font-size: 12px;
    /* font-weight: bold; */
}
  
.payment-logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.payment-logos img {
    height: 16px;
    width: auto;
    object-fit: contain;
    /* filter: grayscale(100%); */
    /* transition: filter 0.3s ease; */
}

/* .payment-logos img:hover {
    filter: none;
} */ 
/* payment methods ends */

/* responsive starts */
@media screen and (max-width: 1400px) {
}
@media screen and (max-width: 1200px) {
}
@media screen and (max-width: 1000px) {
}
@media screen and (max-width: 800px) {
    /* header starts */
    .header-container{
        display: none;
    }
    /* header ends */
    
    /* header mobile starts */
    .mobile-header-container{
        display: block;
    }
    /* header mobile ends */

    /* footer starts */
    .footer-container{
        gap: 20px;
    }
    .footer-list-2, .footer-list-3, .footer-list-4{
        width: 80px;
    }
    /* footer ends */
}
@media screen and (max-width: 600px) {
    /* header mobile starts */
    .mobile-header-container{
        padding: 10px;
    }
    .main-logo-m{
        height: 40px;
        bottom: 10px;
    }
    .icon-container-m{
        gap: 10px;
    }
    .icon-img-m{
        height: 24px;
    }
    .menu-icon{
        height: 36px;
        margin-left: 10px;
    }
    .icon-num-m{
        font-size: 10px;
    }
    .search-container-m .input{
        height: 40px;
        font-size: 16px;
    }
    .search-icon-m{
        height: 22px;
        right: 16px;
    }
    /* header mobile ends */

    /* footer starts */
    .footer-container{
        display: flex;
        gap: 0px;
        flex-direction: column;
        padding: 20px;
    }
    .footer-list-1{
        width: 100%;
    }
    .footer-list-2, .footer-list-3, .footer-list-4{
        width: 100%;
    }
    /* footer ends */
}
@media screen and (max-width: 400px) {
    .mobile-header-container{
        padding-top: 20px;
    }
    .main-logo-m{
        height: 30px;
        bottom: 5px;
    }
    .icon-container-m{
        gap: 10px;
    }
    .icon-img-m{
        height: 20px;
    }
    .menu-icon{
        height: 24px;
        margin-left: 10px;
    }
    .icon-num-m{
        font-size: 10px;
    }
    .search-container-m .input{
        height: 30px;
        font-size: 16px;
    }
    .search-icon-m{
        height: 18px;
        right: 12px;
    }

    /* footer starts */
    .footer-container{
        padding: 10px;
    }
    .nav-btn-m{
        font-size: 20px;
    }
    .nav-btn-select-m{
        font-size: 18px;
    }
    /* footer ends */
}
/* responsive ends */