#login_div.login-container{
    /* height: 100vh;
    width: 100%; */
    /* padding: 20px; */
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: var(--color-light-grey); */
    background-color: transparent;
    /* background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6)), url(../images/bg.png); */
}
#login_div > form{
    width: 100%;
}
#login_div .login{
    width: 60vw;
    max-width: 800px;
    min-height: 300px;
    background-color: white;
    /* border: 1px solid rgba(0, 0, 0, 0.1); */
    border-radius: 30px;
    /* box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1); */
    display: flex;
    overflow: hidden;
}
#login_div .login-left{
    width: 70%;
    padding: 60px 60px 20px 60px;
}
#login_div .input{
    margin-bottom: 10px;
}
#login_div .login-right{
    width: 30%;
    /* background-image: url(../images/login-img.png); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#login_div .login .heading-n{
    margin-bottom: 10px;
}
#login_div .field-container{
    margin: 40px 0 20px 0;
}
#login_div .login-with-container{
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}
#login_div .media-container{
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    width: 200px;
    /* box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.04); */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
}
#login_div .media-icon{
    height: 20px;
    width: auto;
}
#login_div .btn-container{
    margin-top: 20px;
}

#login_div .password-container{
    display: block;
    position: relative;
    width: 100%;
    /* display: flex; */
    gap: 10px;
}


/* --- Style overrides over default template STARTS --- */
#modal-signin .modal-content{
    /* background-color: transparent !important; */
}
#modal-signin .modal-body{
    padding: 0px;
}
#login_div .btn-close {
    position: relative;
    align-self: baseline;
    top: initial;
    left: initial;
    right: initial;
    bottom: initial;
    margin: 12px;
    pointer-events: auto;
}
#login_div input.form-control{
    line-height: normal;
}
#login_div input[type='checkbox']{
    -webkit-appearance: checkbox !important;
}
#login_div #forgot_password_link{
    text-decoration: none;
}
#login_div #forgot_password_link:hover{
    color: var(--color-orange);
}
#forgot_password_div{
    padding: 4rem;
    padding-bottom: 2rem;
}
#login_div .password-container #loginPassword {
    width: 100%;
}
#login_div .password-container .password-toggle{
    position: absolute;
    top: 50%;
    right: 0.75rem;
    transform: translateY(-50%);
    margin-top: 3px;
}
#login_div .cretzo.btn{
    padding: 4px 60px;
}
/* --- Style overrides over default template ENDS --- */


@media screen and (max-width: 1200px){
    #login_div .login{
        width: 70vw;
    }
}
@media screen and (max-width: 1000px){
    #login_div .login{
        width: 80vw;
    }
}
@media screen and (max-width: 800px){
    #login_div .login{
        width: 90vw;
    }
    #login_div .login-left{
        padding: 40px 40px 10px 40px;
    }
}
@media screen and (max-width: 600px){
    #login_div .login-container{
        padding: 20px 10px;
    }
    #login_div .login{
        width: 100%;
    }
    #login_div .login-left{
        padding: 20px 20px 10px 20px;
    }
}
@media screen and (max-width: 500px){
    #login_div .login{
        border-radius: 14px;
        flex-direction: column-reverse;
    }
    #login_div .login-left{
        width: 100%;
        padding: 12px 24px;
    }
    #login_div .login-right{
        width: 100%;
        min-height: 120px;
    }
}
@media screen and (max-width: 400px){
    #login_div .login-container{
        padding: 10px 5px;
    }
    #login_div .login-left{
        padding: 12px 24px;
    }
}