.overview-sidemenu .text-n{
    opacity: initial;
    margin-bottom: initial;
}
.overview-sidemenu .text-b{
    margin-bottom: initial;
    /* cursor: auto; */
}

.overview-sidemenu .heading{
    opacity: 0.5;
    margin-bottom: 5px;
}
.overview-sidemenu .list-item{
    opacity: 1;
    margin-bottom: 10px;
}
.overview-sidemenu .list-item.selected{
    font-weight: bold;
    color: var(--color-orange);
}
.overview-sidemenu .list-item.selected > a::before{
    content: "‣ ";
}