.overview-left{
    width: 30%;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}
.overview-sidemenu{
    margin-top: 10px;
    padding: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.overview-sidemenu:last-child{
    border-bottom: none;
}
.overview-sidemenu .text-n{
    opacity: 0.4;
    margin-bottom: 10px;
}
.overview-sidemenu .text-b{
    margin-bottom: 5px;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .overview-left {
        width: 40%;
    }
}

@media screen and (max-width: 500px) {
    .overview-left {
        width: 100%;
    }
}