.product-container{
  align-items: baseline;
}

.img-container {
  padding: 26px 2.4rem 16px 2.4rem;
  padding-right: 20px;
  align-self: baseline;
}
.big-img-container{
  width: 100% !important;
  display: flex !important;
  align-items: center !important;
  /* padding: 20px !important; */
  padding: 0px !important;
}
.big-img{
  width: 100% !important;
  height: auto !important;
  /* max-height: 60vh !important; */
  max-height: initial !important;;
  aspect-ratio: 4/3;
}

.product-big-img{
  width: 100% !important;
  height: auto !important;
  aspect-ratio: 4/3;
  object-fit: cover;
  border: 1px solid rgba(145, 145, 145, 0.12);
}
.product-big-img-video-frame{
  width: 100% !important;
  height: auto !important;
  aspect-ratio: 16/9;
  align-self: center;
}

.product-small-img{
  width: 100% !important;
  height: auto !important;
  aspect-ratio: 1/1;
  object-fit: cover;
  padding: 0 !important;
}

.swiper-wrapper#gal1{
  padding-bottom: 0px !important;
}

.swiper-img:has(.product-small-img){
  border: none;
}

.detail-container{
  align-self: flex-start;
  /* margin-top: 2rem; */
  margin-top: 10px;
  padding: 10px;

  /* overflow-y: scroll; */
  margin-top: 0px;
  padding-top: 20px;
}

.detail-container .store-seller-detail:hover{
  color: var(--color-orange) !important;
  font-weight: 600;
}

.product-stock {
  gap: 6px;
}
.green-tick-icon {
  width: 18px;
  height: auto;
  object-fit: contain;
}

.current-price {
  color: #343f52;
  font-weight: 900;
}
.discount {
  color: var(--color-orange);
  font-size: var(--font-size-sub-heading);
}

.rating-star-container{
  max-width: fit-content;
  /* padding: 0px 0.5rem; */
  border-radius: 4px;
  border: none;
  padding: 0;
}
.rating-star-icon{
  height: 16px;
  width: auto;
}

/* .cretzo.btn.add_to_cart {
  padding-top: 4px;
  padding-bottom: 4px;
} */

/* Override default cretzo style for buttons within the product-container */
.product-container .cretzo.btn{
  padding-top: 3px;
  padding-bottom: 3px;

  transition-duration: 0.1s;

  border: 2px solid transparent;
  box-shadow: 0 0 0 1px var(--color-light-grey);
  color: grey;

  font-weight: 500;
}
.product-container .cretzo.btn:hover{
  transform: none;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
  color: black;
}
.product-container .cretzo.btn:active{
  border: 2px solid transparent !important;
}

.product-description-container{
  padding: 10px 50px;
}
.des-btn{
  padding: 2px 20px;
  background-color: white;
  color: var(--color-orange);
  font-weight: 500;
}
.active-des-btn{
  background-color: var(--color-orange);
  color: white;
  font-weight: 600;
}

.cretzo.btn.add_to_cart {
  box-shadow: 0 0 0 1px var(--color-orange);
  color: var(--color-orange);
}
.cretzo.btn.add_to_cart:hover {
  box-shadow: 0 0 0 1px var(--color-orange);
  background-color: var(--color-orange);
  color: white;
}

/* .product-c:active, .product-c:checked{
  border: 1px solid black;
} */


.product-attr-label {
  margin: 0;
}

.product-attr-label-color{
  width: 75px;
  height: 100px;
  position: relative;
}
.product-attr-label-color .product-attr-input {
  position: absolute;
}
.product-attr-label-color:has(.product-attr-input) .product-color-image {
  cursor: pointer;
}
.product-attr-label-color:has(.product-attr-input:hover) .product-color-image {
  /* border: 1px solid rgba(0, 0, 0, 0.5); */
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
}
.product-attr-label-color:has(.product-attr-input:checked) .product-color-image {
  /* border: 1px solid black; */
  box-shadow: 0 0 0 1px black;
}

.product-attr-label-color .photo-dimmer-overlay{
  position: absolute;
  height: 100%;
  width: 100%;
  pointer-events: none;
  background-color: rgba(128, 128, 128, 0.39);
}
.product-attr-label-color:has(.product-attr-input:checked) .photo-dimmer-overlay{
  display: none;
}

label.product-attr-label-general:has(> .product-attr-input){
  /* border: 1px solid var(--color-light-grey); */
  padding: 24px;
}
label.product-attr-label-general:has(> .product-attr-input):hover{
  /* border: 1px solid rgba(0, 0, 0, 0.5); */
}
label.product-attr-label-general:has(> .product-attr-input:checked){
  /* border: 1px solid black;  */
  font-weight: bold;
  color: black;
  box-shadow: 0 0 0 1px black !important;
}
/* .product-attr-label-general.selected{
  border: 1px solid black; 
  font-weight: bold;
} */

/* product attribute styling  */
.product-size .size-btn{
  padding: 6px 12px;
}
/* .product-c{
  border-radius: 4px;
} */
.product-color-image{
  /* height: auto; */
  /* width: 75px; */
  width: 100%;
}

.form-control:focus {
  /* border-color: red; */
  /* box-shadow: 0rem 0rem 1.25rem rgba(30, 34, 40, 0.04); */
  box-shadow: 0 0 0 .2rem rgba(242, 130, 46, 0.5);
  border: none;
}

.review{
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}
.review-text{
  border: none;
  border-radius: none;
}
.review-username{
  opacity: 0.75;
  /* vertical-align: super; */
  padding-top: 2px;
}
.review-des{
  opacity: 1;
  margin-top: 10px;
}
.review .row.reviews {
  align-self: center;
  margin: 6px 2px;
}

.my-review{
  background-color: var(--color-light-grey);
}

/* override the styles of the box of add/edit review from template */
#rating-box{
  /* background-color: rgba(242, 130, 46, 0.15) !important; */
  background-color: rgba(253, 233, 198, 0.5) !important;
  border-radius: 2px;
  padding: 1.5rem 1rem !important;
}

.theme-krajee-svg .filled-stars .krajee-icon-star{
  filter: hue-rotate(320deg);
}


/* description style override */
.des{
  padding: 10px 2em;
}


/* quantity button style override */
.product-container .num-block{
  margin: 0 !important;
}
.product-container .num-in{
  border-radius: 30px;
  /* padding: 20px 20px; */
  padding: auto;
  margin: auto;
  height: 40px;
}
.product-container input.in-num{
  font-size: var(--font-size-text-s);
  color: black;
  font-weight: 600;
  height: auto;
}
/* .product-quantity-container .num-block .num-in {
  padding-top: 0px;
  padding-bottom: 0px;
  height: 30px;
} */
/* .product-quantity-container .num-block .num-in input {
  height: 30px;
}
.product-quantity-container .num-block .num-in span {
  height: 30px;
} */


/* availability check form style override */
#validate-zipcode-form{
  min-height: 64px;
}
#validate-zipcode-form div.input-group{
  align-items: baseline;
}
/* availability zipcode input field style override */
#validate-zipcode-form input#zipcode{
  flex: none;
  min-width: 190px;
  border-radius: 2px 0px 0px 2px !important;
  padding: 3px 0.6rem;
  transition: none;

  box-shadow: initial;
  border: 1px solid var(--color-light-grey);
}
#validate-zipcode-form input#zipcode:focus{
  /* padding: 0.1rem 0.6rem; */
  transition: none;

  border: 1px solid var(--color-orange);
}
/* check availability button style override */
#validate-zipcode-form .cretzo.btn.check-availability{
  border-radius: 0px 2px 2px 0px;
  padding: 1px 1rem;
  background-color: white;
  border: 2px solid var(--color-light-grey);
  box-shadow: none;
  /* box-shadow: 0 0 0 2px var(--color-light-grey); */
}
#validate-zipcode-form .cretzo.btn.check-availability:hover{
  background-color: black;
  color: white;
  /* border: 1px solid transparent;
  box-shadow: 0 0 0 2px var(--color-light-grey); */
}


/* responsive starts */
@media screen and (max-width: 800px) {
  .detail-container{
    align-self: auto;
    margin-top: 0rem;
  }
  .img-container {
    align-self: center;
  }
}
/* responsive ends */


/* --- Rating Section Style STARTS --- */

.customer-rating-container{
  padding: 20px 0;
  border-top: 2px solid var(--color-light-grey);
  border-bottom: 2px solid var(--color-light-grey);
}
.customer-rating{
  display: flex;
  align-items: center;
}
.customer-rating-number{
  padding: 40px;
  /* text-align: center; */
}
.customer-rating-star{
  padding: 20px;
  opacity: 0.8;
}
.customer-rating-number{
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}
.customer-progress-bar-container .text-s{
  display: inline-block;
  width: 30px;
}


.customer-photos{
  margin: 20px 0;
  display: flex;
  gap: 30px;
}
.customer-photos-img{
  height: 80px;
  width: 80px;
  aspect-ratio: 1 / 1;
  border: 1px solid black;
  border-radius: 8px;
}
.customer-review-container{
  display: flex;
  gap: 20px;
  margin: 20px 0;
}
.more-photo-container{
  height: 80px;
  width: 80px;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
}
.more-photo-btn{
  height: 100%;
  width: 100%;
  padding: 25px;
  position: absolute;
  z-index: 199;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.customer-photo-contianer{
  display: flex;
  gap: 20px;
  margin: 10px 0;
}
.customer-reviews .rating-star-container{
  margin-bottom: 10px;
}
.name-date-container{
  margin-top: 10px;
  opacity: 0.4;
}
.customer-reviews .rating-star-container{
  max-height: 20px;
  margin: 0;
  position: relative;
  top: 6px;
}

/* --- Rating Section Style ENDS --- */

/* --- Rating Section OVERRIDE STARTS --- */

.customer-rating-number .rating-star-icon{
  margin-bottom: 4px;
  margin-left: 6px;
  height: 22px;
}
.customer-progress-bar-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px; 
}
.customer-progress-bar-container .rating-star-icon{
  margin-bottom: 2px;
  margin-left: 2px;
}
.customer-review-container .rating-star-container{
  padding-top: 2px;
}
.customer-review-container .rating-star-container .rating-star-icon{
  margin-bottom: 2px;
}
.more-photo-btn{
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  font-size: var(--font-size-sub-heading);
}

/* --- Rating Section OVERRIDE ENDS --- */

/* Image Gallery Modal Style Starts */

#imageGalleryModal{
  align-content: center;
}
#imageGalleryModal .modal-header{
  padding: 40px var(--bs-modal-padding) 0px var(--bs-modal-padding);
}

/* Image Gallery Modal Style Ends */