#register_div.login-container{
    /* height: 100vh;
    width: 100%;
    padding: 20px; */
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: var(--color-light-grey); */
    background-color: transparent;
    /* background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6)), url(../images/bg.png); */
}
#register_div > form{
    width: 100%;
}
#register_div .login{
    width: 60vw;
    max-width: 800px;
    min-height: 300px;
    background-color: white;
    /* border: 1px solid rgba(0, 0, 0, 0.1); */
    border-radius: 30px;
    /* box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1); */
    display: flex;
    overflow: hidden;
    position: relative;
}
#register_div .login-left{
    width: 70%;
    padding: 40px 40px 60px 40px;
}
#register_div .input{
    margin-bottom: 10px;
}
#register_div .login-right{
    width: 30%;
    /* background-image: url(../images/login-img.png); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#register_div .login .heading-n{
    margin-bottom: 10px;
}
#register_div .field-container{
    margin: 20px 0;
}
#register_div .btn-container{
    /* margin-top: 20px; */
}
#register_div .password-container{
    display: flex;
    gap: 10px;
}
#register_div .page-icon-container{
    /* width: calc(70% - 80px); */
    display: flex;
    justify-content: center;
    gap: 6px;
    margin-top: 16px;
    /* position: absolute; */
    /* bottom: 16px; */
}
#register_div .page-icon{
    min-height: 14px;
    min-width: 14px;
    border-radius: 14px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.3);
}
#register_div .page-icon-active{
    background-color: var(--color-orange);
}

/* --- Style overrides over default template STARTS --- */
#register_div .login-with-container{
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}
#register_div .media-container{
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    width: 200px;
    /* box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.04); */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
}
#register_div .media-icon{
    height: 20px;
    width: auto;
}

#register_div .btn-close {
    position: relative;
    align-self: baseline;
    top: initial;
    left: initial;
    right: initial;
    bottom: initial;
    margin: 12px;
    pointer-events: auto;
}
#register_div input.form-control{
    line-height: normal;
}
#register_div input[type='checkbox']{
    -webkit-appearance: checkbox !important;
}
#register_div .field-container .intl-tel-input { 
    width: 100%; 
}
#register_div .field-container .selected-flag {
    width: 96px;
}
#register_div .field-container .selected-dial-code {
    padding-left: 8px;
}
#register_div .password-toggle{
    position: relative;
    top: initial;
    transform: translateY(-50%);
    transform: none;
    right: initial;
    cursor: pointer;
    font-size: 0.9rem;
    color: #959ca9;
    align-self: center;
    align-content: center;
    align-items: center;
}
#register_div .cretzo.btn{
    padding: 4px 60px;
}
/* --- Style overrides over default template ENDS --- */

@media screen and (max-width: 1200px){
    #register_div .login{
        width: 70vw;
    }
}
@media screen and (max-width: 1000px){
    #register_div .login{
        width: 80vw;
    }
}
@media screen and (max-width: 800px){
    #register_div .login{
        width: 90vw;
    }
    #register_div .login-left{
        padding: 40px 40px 10px 40px;
    }
}
@media screen and (max-width: 600px){
    #register_div .login-container{
        padding: 20px 10px;
    }
    #register_div .login{
        width: 100%;
    }
    #register_div .login-left{
        padding: 20px 20px 10px 20px;
    }
}
@media screen and (max-width: 500px){
    #register_div .login{
        border-radius: 14px;
        flex-direction: column-reverse;
    }
    #register_div .login-left{
        width: 100%;
        padding: 12px 24px;
    }
    #register_div .login-right{
        width: 100%;
        min-height: 120px;
    }
}
@media screen and (max-width: 400px){
    #register_div .login-container{
        padding: 10px 5px;
    }
    #register_div .login-left{
        padding: 12px 24px;
    }
}