@import url('https://fonts.googleapis.com/css2?family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&display=swap');
:root{
    /* colors */
    --color-primary: #F2822E;
    --color-secondary: #FDE9C6;
    --color-orange: #F2822E;
    --color-orange-dark: #db7323;
    --color-orange-light: #F3812D36;
    --color-light-grey: rgba(0, 0, 0, 0.06);
    --color-grey: rgb(110, 110, 110);
    /* main theme color */
    --color-main-theme: #F2822E;
    --color-theme-red: #CE2031;
}
body{
    font-family: "K2D", sans-serif;
}

a.nav-link{
    color: var(--color-orange);
}
.nav-pills .nav-link:not(.active):hover{
    color: var(--color-orange);
}
.nav-pills .nav-link.active{
    background-color: var(--color-orange);
}


/* --- --- Style for Bootstrap Tables, fixed row heights with scrollable cells --- --- */

.table-striped.fixed-row-height{
    width: auto !important;
    table-layout: auto !important;
}

/* ! Note: must set width of table header(th) and table data (td) both to assure that it is set appropriately */

.table-striped.fixed-row-height thead th,
.table-striped.fixed-row-height tbody td,
.table-striped.fixed-row-height tfoot th,
.table-striped.fixed-row-height tfoot td {
  width: auto !important;
}

/* Make cell content scrollable if it overflows */
.bootstrap-table .fixed-row-height td {
    max-height: 60px;
    overflow-y: auto;
    vertical-align: top;
    white-space: nowrap;
}

.bootstrap-table .fixed-row-height td:hover {
    overflow-x: auto;
}