* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --bs-blue: #f38331 !important;
}
body {
  font-family: 'Lato', sans-serif !important;

}
.theme-b-color {
  background-color: #f38331;
}
a {
  color: black !important;
}
.active {
  color: #f38331 !important;
}
.btn-circle {
  border-top-left-radius: 29px !important;
  border-bottom-left-radius: 29px !important;
  border-right: none !important;
  background-color: #f7f7f7 !important;
  box-shadow: none !important;
  border: none !important;
}
.search-button {
  border-top-right-radius: 29px !important;
  border-bottom-right-radius: 29px !important;
  border-left: none !important;
  background-color: #f7f7f7 !important;
  border: none !important;
}
.nav-link {
  font-size: 13px !important;
}
.dropdown-item {
  font-size: 13px !important;
}
.dropdown-menu {
  border: none !important;
}

@media only screen and (max-width:768px) {
  .D-none {
    display: none;
  }
  .qtyDiv {
    border: 1px solid grey;
    border-radius: 20px;
    padding: 0 !important;
    margin: 0 !important;
  }
}
@media only screen and (min-width: 1200px) {
   .content-center-lg{
      display: flex;
      justify-content: center;
      align-items: center;
   }
}
.navbar-toggler {
  border: none !important;
  box-shadow: none !important;
}

.read-more {
  border: none;
  border-radius: 30px;
  padding: 2rem 0rem 2rem 0rem;
}

.sale {
  background-color: #f38331;
  border-radius: 30px;
  color: white;
  padding: 0.1rem 1rem 0.1rem 1rem;
  font-size: smaller;
}
.new {
  background-color: black;
  border-radius: 30px;
  color: white;
  padding: 0.1rem 1rem 0.1rem 1rem;
  font-size: smaller;
}

.content-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.dot-1 {
  height: 17px;
  width: 17px;
  background-color: #b0c4de;
  border-radius: 50%;
  display: inline-block;
}
.dot-2 {
  height: 17px;
  width: 17px;
  background-color: #aa9e78;
  border-radius: 50%;
  display: inline-block;
}
.dot-3 {
  height: 17px;
  width: 17px;
  background-color: #808080;
  border-radius: 50%;
  display: inline-block;
}
.dot-4 {
  height: 17px;
  width: 17px;
  background-color: #964b00;
  border-radius: 50%;
  display: inline-block;
}
.dot-5 {
  height: 17px;
  width: 17px;
  background-color: orange;
  border-radius: 50%;
  display: inline-block;
}
.dot-6 {
  height: 17px;
  width: 17px;
  background-color: greenyellow;
  border-radius: 50%;
  display: inline-block;
}
.dot-7 {
  height: 17px;
  width: 17px;
  background-color: black;
  border-radius: 50%;
  display: inline-block;
  color: white;
}
.dot-8 {
  height: 17px;
  width: 17px;
  background-color: whitesmoke;
  border-radius: 50%;
  display: inline-block;
}

.footer-bg {
  background-color: #faf4b7;
}
.aTag {
  text-decoration: none;
  font-size: 15px;
}
.input-custom {
  box-shadow: none !important;
  border: 1px solid #f38331 !important;
  padding: 3px !important;
}
input[type="range"] {
  -webkit-appearance: none;
  width: 95%;
  height: 10px;
  background-color: #f38331;
  border-radius: 5px;
  outline: none;
  transition: opacity 0.2s;
}

/* Custom styles for the range thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
}

/* Custom styles for checkboxes */
.checkbox-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.checkbox-label {
  margin-left: 5px;
  font-size: 15px;
}

.checkbox-custom {
  width: 17px;
  height: 17px;
  background-color: #f38331;
  border-radius: 3px;
  cursor: pointer;
}

input {
  accent-color: #f38331;
}
.qtyDiv {
  border: 1px solid grey;
  border-radius: 30px;
  padding: 0.6rem .6rem 0.6rem .6rem;
  margin: 0.5rem 1rem 0.5rem 1rem;
}
.btnAddToCard {
  background-color: #f38331;
  border-radius: 50px;
  padding: 0.6rem 1rem 0.6rem 1rem;
  color: white;
  border: none;
}
.sizeSelector {
  border-radius: 50px !important;
  padding: 0.5rem 2rem 0.5rem 2rem !important;
  margin: 0.5rem 1rem 0.5rem 1rem !important;
  display: inline-block !important;
  width: 20% !important;
  box-shadow: none !important;
  border: 1px solid gray !important;
}
.btnStyle {
  background-color: transparent;
  border: 1px solid #f38331;
  border-radius: 50px;
  padding: 0.6rem 1rem 0.6rem 1rem;
  color: #f38331;
}
.wishlist {
  background-color: transparent;
  border: 1px solid #f38331;
  border-radius: 50px;
  padding: 0.3rem .6rem 0.3rem 0.6rem;
  font-size: small;
  color: #f38331;
}
.border-color{
  border: 1px solid #f38331;
}

.borderTop{
  border-top:2px solid #f38331;
}
.new-form{
  box-shadow: none !important;
  border: 1px solid gainsboro !important;
}
.form-control::placeholder{
  font-size:15px !important;
}

.form-check-input:checked{
  background-color: #f38331 !important;
    border-color: #f38331 !important;
}
.form-check-input{
  box-shadow: none !important;

}
.textCapital{
  text-transform: capitalize;
}
.textUpper{
  text-transform: uppercase;
  font-weight: bold;
}

.testimonial-image {
  display:inline-block !important;
  width:10% !important;
}
.owl-theme .owl-nav.disabled+.owl-dots {
  margin-top: 0px !important;
}
.dropdown-toggle::after{
content: none !important;
}
.tbody, td, tfoot, th, thead, tr{
  border-style: none !important
}