

:root{
    /* colors */
    --color-primary: #F2822E;
    --color-secondary: #FDE9C6;
    --color-orange: #F2822E;
    --color-orange-dark: #db7323;
    --color-orange-light: #F3812D36;
    --color-light-grey: rgba(0, 0, 0, 0.06);
    --color-grey: rgb(110, 110, 110);
    /* main theme color */
    --color-main-theme: #F2822E;
    --color-theme-red: #CE2031;
}



.form-header{
  margin-bottom: 1.8rem;
   position: sticky;
  top: 0;
  background: white;
  z-index: 10;
  padding: 1rem 1.2rem;
  border-bottom: 1px solid var(--color-grey);

}


.seller-form{
  position: absolute;
}
.form-parent{
  max-width: 100%;
  background-color: transparent;
}
.form-container-main{
  background-color: #fff;
  max-width: 50%;
  height: 100vh;
  margin-top: 100vh;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  padding: 1.4rem 1.6rem;

   display: flex;
  flex-direction: column;
  overflow: hidden;
}

.form-container{
  height: 100%;
  margin: 1rem 1.2rem;
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

form{
  position: relative;
}
label {
  font-weight: 400;
  font-size: 0.8rem;
}
.input{
  
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #ffffff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

form .form-step{
  margin: 0.8rem 1.2rem;
  transition: all 0.5s;
  position: absolute;
}

.form1{
  
  left: 0;
}
.form2{
  
  left: 120%;
}
.form3{
  
  left: 120%;
}

.slider{
    background-color: #fff;
    transition: all 2s;
}

.btn{
  background-color: var(--color-orange);
  color: #fff;
  margin: 0.8rem 0;
  font-weight: 500;
  padding: 0.4rem 1.2rem;

}
.btn:hover{
  color: #fff;
  background-color: var(--color-orange-dark);
}



.form-indicator{
    background-color: initial;
    padding: 8px 6px;
    font-size: 14px;
    font-weight: bold;
}
.form-indicator.active{
    color: var(--color-orange);
}

.completion-line{
    border-top: dotted 2.2px black;
    width: 8rem;
    float: left;
    position: relative;
    display: block;
    height: 12px;
    
}
.completion-line.active{
    border-color: var(--color-orange); 
}

body {
  background: #FDF8EE!important;
}

.form-section {
  display: none;
}
.form-section.active {
  display: block;
}
.btn-orange {
  background-color: orange;
  color: white;
}

.photo-upload{
  width: 10rem;
}

.profile-icon {
  width: 3rem;
  height: 3rem;
}

.preview-container{
  border-radius: 100%;
  width: 5rem;
  height: 5rem;
  background-color: #f7f7f7;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
}
.hidden{
  display: none;
}
.shop-logo{
  width: 100%;
  height: 100%;
}

.check-input{
  stroke: #F2822E;
}



/* ===== Tablet View ===== */
@media (max-width: 991px) {
  .form-container-main{
      max-width: 100%;
  }
}

/* ===== Mobile View ===== */
@media (max-width: 576px) {
    .form-container-main{
      max-width: 100%;
    }
    
}
    